/* Global layout stuff */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #98c7ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}
