/* Global layout stuff */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  /* padding-top: 120px; */
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
}
