/* Nav related css */
/* Whole nav bar */
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  position: fixed;
  top: 0;
  height: 120px;
  background-color: #4056A1;
  padding: 1.5em;
}

/* Tweeter title */
.title {
  font-family: bungee;
  font-size: 2em;
  color: #FFFFFF;
}

.write-tweet {
  display: flex;
  flex-direction: column;
}

.arrow {
  font-size: 2em;
  display: flex;
  justify-content: center;
}

.arrow >i {
  color: Tomato;
}

/* Write a new tweet */
.post {
  font-family: "Source Sans Pro";
  color: #FFFFFF;
}