.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  color: #545149;
  background-color: #f4f1ec;
  padding-top: 1em;
  padding-bottom: 1em;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color:#545149;
  padding-bottom: 1em;
  border-bottom-width: 10px;
}
#tweet-text {
  color:#545149;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  resize: none;
  border-bottom: 5px solid #545149;
  font-weight: bold;
}
.click {
  color:#545149;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: bungee;
  padding-bottom: 2em;
}
.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}
